 {% extends 'base.html' %} {% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}
<!-- Content block -->


<!-- Content block -->
{% block content %}

<div class="container-fluid">


  <div>
    <!-- Popular movie section -->
    <h3>Popular Movies</h3>
    <ul>
      {{ macro.displaySourcesList(sports)}}
    </ul>
  </div>
  <div>


    <!-- Upcoming movie  -->
    <h3> Upcoming Movies </h3>
    <ul>
      {{ macro.displayMovieList(technology)}}
    </ul>
  </div>
  <div>
    <!-- Now showing movie -->
    <h3>Now Showing</h3>
    <ul>
      {{ macro.displayMovieList(general) }}
    </ul>
  </div>
</div>

{% endblock %}
